.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body,
html,
#root {
  height: 100%;
}
.guess-color {
  height: 200px;
  width: 240px;
  margin-bottom: 10px;
}
button {
  padding: 5px;
}
button + button {
  margin-left: 20px;
}
.correct {
  margin-top: 8px;
  color: green;
}
.wrong {
  margin-top: 8px;
  color: red;
}
